/* src/router/layout.css */

.app-layout {
  background-color: #fff;
  color: #072460;
  min-height: 100vh;
  font-family: sans-serif;
}

.app-header {
  background-color: #072460;
  color: #ffffff;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.app-main {
  padding: 2rem;
}

.pk-logo {
  width: 300px;
}